{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h4>Condomínio</h4>
    </div>

    <div class="card-body">
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label>Nome</label>
                {{ form.nome }}
            </div>

            <div class="mb-3">
                <label>CEP</label>
                {{ form.cep }}
                <button type="button" class="btn btn-secondary btn-sm mt-1" onclick="buscarCep()">
                    Buscar CEP
                </button>
            </div>

            <div class="mb-3">
                <label>Endereço</label>
                {{ form.endereco }}
            </div>

            <button type="submit" class="btn btn-success">
                Salvar
            </button>
        </form>

    </div>
</div>

{% endblock %}
{% block extra_js %}
<script>
function buscarCep() {
    const cep = document.getElementById("id_cep").value.replace("-", "");

    fetch(`https://viacep.com.br/ws/${cep}/json/`)
        .then(response => response.json())
        .then(data => {
            if (!data.erro) {
                document.getElementById("id_endereco").value =
                    data.logradouro + ", " +
                    data.bairro + " - " +
                    data.localidade + "/" +
                    data.uf;
            } else {
                alert("CEP não encontrado.");
            }
        })
        .catch(() => {
            alert("Erro ao buscar CEP.");
        });
}
</script>
{% endblock %}
