{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Novo Usuário</h4>
        <a href="{% url 'user_list' %}" class="btn btn-secondary btn-sm">
            Voltar
        </a>
    </div>

    <div class="card-body">
        <form method="post">
            {% csrf_token %}

            <h5 class="mb-3">Dados do Usuário</h5>

            <div class="row mb-3">
                <div class="col-md-4">
                    {{ user_form.username.label_tag }}
                    {{ user_form.username }}
                </div>
                <div class="col-md-4">
                    {{ user_form.first_name.label_tag }}
                    {{ user_form.first_name }}
                </div>
                <div class="col-md-4">
                    {{ user_form.last_name.label_tag }}
                    {{ user_form.last_name }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    {{ user_form.email.label_tag }}
                    {{ user_form.email }}
                </div>
                <div class="col-md-6">
                    {{ user_form.password.label_tag }}
                    {{ user_form.password }}
                </div>
            </div>

            <hr>

            <h5 class="mb-3">Perfil</h5>

            <div class="row mb-3">
                <div class="col-md-4">
                    {{ profile_form.tipo.label_tag }}
                    {{ profile_form.tipo }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    {{ profile_form.condominio.label_tag }}
                    {{ profile_form.condominio }}
                </div>

                <div class="col-md-6">
                    {{ profile_form.unidade.label_tag }}
                    {{ profile_form.unidade }}
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}