{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h4>Registrar Resíduo</h4>
    </div>

    <div class="card-body">

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Tipo de Resíduo</label>
                {{ form.tipo_residuo }}
            </div>

            <div class="mb-3">
                <label class="form-label">Quantidade (kg)</label>
                {{ form.quantidade }}
            </div>

            <button type="submit" class="btn btn-success">
                Registrar
            </button>

        </form>

    </div>
</div>

{% endblock %}
