{% extends 'base.html' %}

{% block content %}

<div class="row">

    <div class="col-md-4">
        <div class="card text-bg-success">
            <div class="card-body">
                <h2>{{ total_kg }} kg</h2>
                <p>Total Reciclado</p>
            </div>
        </div>
    </div>

</div>

<div class="card mt-4">
    <div class="card-header">
        <h5>Reciclagem por Tipo (Mensal)</h5>
    </div>

    <div class="card-body">
        <canvas id="graficoMensal"></canvas>
    </div>
</div>


{% endblock %}

{% block extra_js %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('graficoMensal');

    const grafico = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels|safe }},
            datasets: {{ datasets|safe }}
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top'
                }
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}
