{% extends 'base.html' %}

{% block content %}

<div class="row">

    <div class="col-md-4">
        <div class="card text-bg-success">
            <div class="card-body">
                <h2>{{ total_kg }} kg</h2>
                <p>Total Reciclado</p>
            </div>
        </div>
    </div>

</div>
<div class="d-flex align-items-center gap-2 mb-3">

    <a href="?mes={{ mes_anterior }}" class="btn btn-outline-secondary">
        ← Mês anterior
    </a>

    <form method="get" class="d-inline">
        <input type="month" name="mes" value="{{ mes_selecionado }}" class="form-control d-inline w-auto">
        <button type="submit" class="btn btn-primary btn-sm">
            Ir
        </button>
    </form>

    <a href="?mes={{ mes_proximo }}" class="btn btn-outline-secondary">
        Próximo mês →
    </a>

</div>


<div class="card mt-4">
    <div class="card-header">
        <h5>Reciclagem por Tipo (Mensal)</h5>
    </div>

    <div class="card-body">
        <canvas id="graficoMensal"></canvas>
    </div>
</div>


{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('graficoMensal');

    const grafico = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels|safe }},
            datasets: [{
                label: 'Kg reciclados',
                data: {{ valores|safe }},
                backgroundColor: [
                    'rgba(54, 162, 235, 0.7)',
                    'rgba(255, 99, 132, 0.7)',
                    'rgba(75, 192, 192, 0.7)',
                    'rgba(153, 102, 255, 0.7)',
                    'rgba(255, 206, 86, 0.7)',
                    'rgba(201, 203, 207, 0.7)'
                ]
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}
